/* CSS for the Navigation Component */

.nav {
    background-color: #082725;
    padding: 20px;
    color: rgb(16, 148, 49);
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    position :fixed;
    top:0;
  }
  
  .nav a {
    color: red;
    text-decoration: none;
    font-size: 20px;
    scroll-behavior: smooth;

  }
  
  .welcome {
    font-weight: bold;
 
    font-size:xx-large;
  }

 